.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}
.portada-container {
  width: 100vw;
  height: 120px;
  overflow: hidden;
  @media (min-width: 992px) {
    flex: 1;
    height: 100vh;
  }
}

.portada-sm {
  width: 100%;
  height: 302px;
  @media (min-width: 992px) {
    display: none;
  }
}
.portada-lg {
  display: none;
  @media (min-width: 992px) {
    display: block;
    width: 100vw;
    height: 100vh;
  }
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 8px 8px 0 0;
  padding: 1rem;
  margin-top: -8px;
  @media (min-width: 992px) {
    margin-top: 0;
    border-radius: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: 588.61px;
  @media (min-width: 350px) {
    min-width: 334px;
  }
  @media (min-width: 992px) {
    height: 571px;

    min-width: 100%;
  }
  @media (min-width: 1008px) {
    min-width: 530px;
  }
}

.logo-sm {
  width: 100%;
  @media (min-width: 992px) {
    display: none;
  }
}

.logo-lg {
  display: none;
  @media (min-width: 992px) {
    display: block;
    margin: 0 auto;
  }
}
